body {
  background-color: blue;
}
.snowman {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hat {
  height: 0;
  width: 40px;
  border-bottom: 40px solid rgb(109, 109, 109);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 1000;
  margin-bottom: -15px;
  margin-top: 300px;
}
.ball{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.head {
    height: 75px;
    width: 75px;
    margin-bottom: -20px;
    z-index: 100;
}
.head .eyes {
    display: flex;
    justify-content: space-between;
    width: 40px;
    position: relative;
    top: 20px;
    margin: auto;
}
.head .eyes .eye {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}
 
.head .carrot {
    width: 0; 
    height: 0;
    position: relative;
    top: 25px;
    left: -15px;
    border-top: 5px solid transparent;
    border-right: 50px solid orange;
    border-bottom: 5px solid transparent;
}
 
.head .small {
    position: relative;
    top: 20px;
    left: 30px;
    height: 25px;
    width: 10px;
    border-radius: 50px 0 0 50px;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-bottom: 5px solid #000;
    transform: rotate(-90deg);
}
.body {
    height: 125px;
    width: 125px;
    margin-bottom: -60px;
    z-index: 10;
}
 
.body .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90px;
    position: relative;
    top: 30px;
}
 
.body .button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: brown;
    margin-bottom: 20px;
}
 
.bottom {
    height: 175px;
    width: 175px;
    z-index: 1;
}
.u {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
  margin-left: 200px;
  margin-top: -320px;
}
.m {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid green;
  margin-left: 153px;
  margin-top: -40px;
}
.b {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid green;
  margin-left: 105px;
  margin-top: -95px;
}
.u1 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
  margin-left: 1200px;
  margin-top: -320px;
}
.m1 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid green;
  margin-left: 1153px;
  margin-top: -40px;
}
.b1 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid green;
  margin-left: 1105px;
  margin-top: -95px;
}
.u2 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
  margin-left: 400px;
  margin-top: -160px;
}
.m2 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid green;
  margin-left: 353px;
  margin-top: -40px;
}
.b2 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid green;
  margin-left: 305px;
  margin-top: -95px;
}
.u3 {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
  margin-left: 1700px;
  margin-top: -588px;
}
.m3 {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid green;
  margin-left: 1653px;
  margin-top: -40px;
}
.b3 {
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid green;
  margin-left: 1605px;
  margin-top: -95px;
}