.range {
    padding-top: 100px;
    margin: auto;
    width: 302px;
    height: 50px;
    position: relative;
}
.range > input[type="range"] {
    position: absolute;
    bottom: 0;
}
.range > .range-num {
    width: 20px;
    height: 20px;
    position: absolute;
   margin-top: 90px;
    top: 0;
    font-size: 25px;
}